body {
	  background-color: black ; }


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky; 
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #4CAF50;
}

.active {
  background-color: #4CAF50;
}



.a1 {
	height:320px; 
	
}
.a2 {
	height:200px; 
	width:400px;
}

.image{
 width: 500px;
 height: 500px;
}
.a3 {
	color: #4CAF50 ;
	font-family: Georgia ;
   
 }

 a{
   text-decoration: none;
 }

 .info{
   display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
 }
 .a4 {
 	color: white ;
   max-width: 500px;
 }
 .a5 {
 	color: white ;

 }

.b0 img {
	width: 420px;
}
.a6 {
	color: #4CAF50 ;
	font-family: Georgia ;
   
}
.b2 {
	margin-left: 10px ;
	margin-top: 40px ;

}
.a6 { color: #4CAF50 ;
	font-family: Georgia ;
  
  font-weight: bold;

}
.a9 { width: 320px;
   height: 300px               }
.a91 {
	color: #4CAF50 ;
	font-family: Georgia ;
  
  font-weight: bold;
  margin-left: 100px;

}

.text {
  color: #4CAF50 ;
	font-family: Georgia ;
  font-size: 30px;
  margin-bottom: 10px;
  text-decoration: none; 
	
}
.q1 {
	margin-left: 20px;
	padding-left: 20PX
}
.A66 {  
  padding-left: 40px;
 } 
 .text { 
  width: 320px;
  height: 50px;  
  padding: 0px;
  border: 3px solid #b8ccc4; 
  margin-bottom: 0px;
  }
 .A66 {   
  width: 320px;
  height: 300px;  
  padding: 0px;
  border: 3px solid #b8ccc4;
} 
.a77 {  margin-left: 40px; }
.a88 {   margin-left: 40px; }
.a6 { display: flex; }
.a7 {color: #4CAF50 ;
	font-family: Georgia ;
  
  font-weight: bold;
  margin-left: 100px;  }
  .m8 { width: 100px;
   border-radius: 20px 
   }
   body{ flex-direction: row; }
   @media (max-width: 600px){ 
   body { flex-direction: column; } }